version: '3.8'

services:
  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: microservices_db
    ports:
      - "5432:5432"
    networks:
      - micro-network

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - user-service
      - product-service
    networks:
      - micro-network

  user-service:
    build: ./user-service
    container_name: user-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/microservices_db
    depends_on:
      - postgres-db
    networks:
      - micro-network

  product-service:
    build: ./product-service
    container_name: product-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/microservices_db
    depends_on:
      - postgres-db
    networks:
      - micro-network

  order-service:
    build: ./order-service
    container_name: order-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/microservices_db
    depends_on:
      - postgres-db
    networks:
      - micro-network

networks:
  micro-network:
    driver: bridge
    
